@inherits LayoutComponentBase

<Layout>
    <LayoutHeader class="container">
        <NavMenu />
    </LayoutHeader>

    <LayoutContent>
        <main>
            <article class="container">
                @Body
            </article>
        </main>
    </LayoutContent>
</Layout>