<Bar Breakpoint="Breakpoint.Desktop">
    <BarBrand>
        <BarLink To="/">
            Arvefordeleren
        </BarLink>
    </BarBrand>
    <BarMenu>
        <BarEnd>
            <BarItem>
                <BarLink To="/stamtræ">
                    Stamtræ
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="/aktiver">
                    Aktiver
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="/arvfordeling">
                    Arvfordeling
                </BarLink>
            </BarItem>
            <BarItem>
                <Button Color="Color.Secondary">Upload</Button>
                <Button Color="Color.Primary">Download</Button>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>