@page "/aktiver"
@rendermode InteractiveServer

<PageTitle>Aktiver</PageTitle>

<h1>Aktiver</h1>

<Table>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>Aktiv</TableHeaderCell>
            <TableHeaderCell>Værdi</TableHeaderCell>
            <TableHeaderCell>Likvid</TableHeaderCell>
            <TableHeaderCell></TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        @foreach (Asset asset in assets)
        {
            <TableRow @key="asset.Id">
                <TableRowCell class="align-middle">@asset.Name</TableRowCell>
                <TableRowCell class="align-middle">@((asset.Value ?? 0).ToString("N2"))</TableRowCell>
                <TableRowCell class="align-middle">@(asset.Liquid ? "x" : "")</TableRowCell>
                <TableRowCell class="col-1 align-middle">
                    <EditAsset @bind-Assets="assets" Asset="asset"/>
                    <Button @onclick="() => DeleteAsset(asset)"><Icon Name="IconName.Delete" style="color: #cf0000"/></Button>
                </TableRowCell>
            </TableRow>
        }
    </TableBody>
</Table>

<AddAsset @bind-Assets=assets/>

@code {
    private List<Asset> assets = AssetsRepository.GetAssets();
    
    private void DeleteAsset(Asset asset)
    {
        AssetsRepository.DeleteAsset(asset);
        assets = AssetsRepository.GetAssets();
    }
}