@inherits LayoutComponentBase

<Layout>
    <LayoutHeader>
        <NavMenu />
    </LayoutHeader>

    <LayoutContent>
        <main>
            <article>
                @Body
            </article>
        </main>
    </LayoutContent>
</Layout>