@page "/stamtræ"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Stamtræ</PageTitle>

<section class="familyTreeContainer" id="familyTree">
    <Table id="tableFamilyTree">
        <TableHeader>
            <TableRow class="tableRow">
                <TableHeaderCell>Navn</TableHeaderCell>
                <TableHeaderCell>Arveklasse</TableHeaderCell>
                <TableHeaderCell></TableHeaderCell>
            </TableRow>
        </TableHeader>

        <TableBody>
            @foreach (Inheritor inheritor in inheritors) {
                <TableRow @key=inheritor.Id>
                    <TableRowCell class="align-middle">@inheritor.Name</TableRowCell>
                    <TableRowCell class="align-middle">@((int)inheritor.InheritorType)</TableRowCell>
                    <TableRowCell class="col-1 align-middle">
                        <EditInheritor @bind-Inheritors="inheritors" Inheritor="inheritor" @bind-Assets=assets/>
                        <Button @onclick="() => DeleteInheritor(inheritor)"><Icon Name="IconName.Delete" style="color: #cf0000"/></Button>
                    </TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>
</section>

<!-- Tilføj arving -->

<AddInheritor @bind-Inheritors=inheritors/>

@code {
    private List<Inheritor> inheritors = InheritorRepository.GetInheritors();
    private List<Asset> assets = AssetsRepository.GetAssets();

    private Inheritor newInheritor = new Inheritor();

    private void DeleteInheritor(Inheritor inheritor)
    {
        InheritorRepository.DeleteInheritor(inheritor);
        inheritors = InheritorRepository.GetInheritors();
    }
}