@page "/aktiver"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Aktiver</PageTitle>

<h1>Aktiver</h1>

<table>
    <thead>
        <tr>
            <th>Aktiv</th>
            <th>Værdi</th>
            <th>Likvid</th>
            <th>Handlinger</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var asset in assets)
        {
            <tr>
                <td>@asset.Name</td>
                <td>@asset.Value</td>
                <td>@(asset.Liquid ? "x" : "")</td>
                <td>
                    <button @onclick="() => DeleteAsset(asset)">Slet</button>
                    <button @onclick="() => EditAsset(asset.Id)">Rediger</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>Tilføj Aktiv</h2>
<EditForm Model="newAsset" OnSubmit="AddAsset">
    <div>
        <label>Aktiv</label>
        <InputText @bind-Value="newAsset.Name" />
        <ValidationMessage For="() => newAsset.Name" />
    </div>
    <div>
        <label>Værdi</label>
        <InputNumber @bind-Value="newAsset.Value" />
    </div>
    <div>
        <label>Likvid</label>
        <InputCheckbox @bind-Value="newAsset.Liquid" />
    </div>
    <button type="submit">Tilfø</button>
</EditForm>

@code {
    private List<Asset> assets = AssetsRepository.GetAssets();
    private Asset newAsset = new Asset();

    private void AddAsset(EditContext editContext)
    {
        ValidationMessageStore validationMessageStore = new ValidationMessageStore(editContext);
        FieldIdentifier nameField = editContext.Field(nameof(newAsset.Name));
        validationMessageStore.Clear();
        
        if (string.IsNullOrEmpty(newAsset!.Name)) 
        {
            validationMessageStore.Add(nameField, "Fejl, mangler at udfylde aktiv feltet");
            return;
        }
        AssetsRepository.AddAsset(newAsset);
        assets = AssetsRepository.GetAssets();

        newAsset = new Asset();
    }

    private void DeleteAsset(Asset asset)
    {
        AssetsRepository.DeleteAsset(asset);
        assets = AssetsRepository.GetAssets();
    }

    private void EditAsset(int assetId)
    {
        NavigationManager.NavigateTo($"/edit-asset/{assetId}");
    }
}
