@page "/FamilyTree"

<PageTitle>Stamtræ</PageTitle>



<div class="nav">
    <NavLink>
        <li>Export</li>
        <li>Upload</li>
        <a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, ipsum dolore dolorum nemo laborum quisquam, totam modi voluptates fuga delectus laboriosam dolores facilis voluptatem est? Molestias atque quaerat nisi quos!  </a>
    </NavLink>
</div>


<section class="familyTreeContainer" id="optionsContainer">

    <article class="familyTreeOptions">
        <a>Tilføj person til stamtræ</a>
    </article>

    <article class="familyTreeOptions">
        <a>Slet person fra stamtræ</a>
    </article>

</section class="familyTreeContainer" id="familyTreeContainer">

<section>

</section>

<!-- Vis personligt tilknyttet arv og aktiver - modul -->

<dialog id="showAssignedAssets">    
    <button>Tilføj aktiv</button>   
</dialog>

<!-- Tilføj aktiv til person - form -->

<form id="addPersonalAsset">
    <button type="submit">Tilføj aktiv til person</button> 
</form>




@code {

}